.center {
	text-align: center;
	margin: auto;
}

.size {
	height: 100px;
	width: 100px;
}

.lr-border {
	border-left: 1px solid black;
	border-right:1px solid black;
}

.tb-border {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

